.todo {
  z-index: 99;
  position: absolute;
  right: 5%;
  animation: todoScreen 3s ease-in-out;
}

.todo img {
  width: 120%;
  filter: drop-shadow(0px 0px 30px rgb(255, 240, 192));
}

#todo-form {
  position: absolute;
  top: 60px;
  left: 70px;
}

#todo-form input {
  width: 90%;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  font-family: var(--body-font);
  font-size: 50px;
  padding: 5px;
  font-weight: 300;
}

::-webkit-input-placeholder {
  text-align: center;
}

#todo-form span {
  display: block;
  text-align: center;
  color: black;
  font-family: var(--hangul-font);
  width: 100%;
  margin: 10px 0px;
}

#todo-list {
  position: absolute;
  width: 70%;
  height: 55%;
  top: 180px;
  left: 70px;
  overflow-y: scroll;
}

#todo-list::-webkit-scrollbar {
  display: none;
}

#todo-list li {
  font-family: var(--hangul-font);
  color: black;
  font-size: 20px;
  margin: 10px 0px;
}

#todo-list button {
  margin-left: 5px;
  background-image: url("../img/d-and-d.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}

@keyframes todoScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
